{% load static %}
{% block content %}
					<div class="row">
						<div class="col-xl-12">
							<div class="row">

								<div class="col-md-12">
									<div class="card">
										<div class="card-body">
											<div class="d-flex">
												<div class="flex-1 overflow-hidden">
													<h4 class="mb-0 text-center">Welcome to <span class="text-danger">SHAPNO TRADING CORPORATION</span></h4>
												</div>

											</div>
										</div>
										<div class="card-body border-top py-3">
											<div class="text-truncate text-center">
												<span class=""><img class="img-fluid" src="{% static 'front-end/images/bg/sopno3.jpg' %}" alt="logo-light" height="200"></span>
											</div>
										</div>
									</div>
								</div>

							</div>
							<!-- end row -->

						</div>

					</div>
					<!-- end row -->

					<!-- end row -->

					<!-- end row -->
{% endblock content %}